<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Tailwind</title>
        <script src='https://cdn.tailwindcss.com'></script>
    </head>
    <body class="bg-zinc-900">
		<footer class="text-white w-full p-4 md:mt-24 mt-10">
            <div class="max-w-6xl mx-auto border p-6 rounded md:flex block justify-between bg-indigo-950 border-indigo-900">
                <div>
                    <div class="flex items-center space-x-4">
                        <img src="assets/logo.svg" class="h-10 w-10" alt="Logo" />
                        <h4 class="text-3xl font-medium">ThreatScope</h4>
                    </div>
                    <p class="text-gray-400 text-sm mt-2">© 2024 | All rights reserved.</p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:mt-0 mt-8">
                    <div>
                        <h4 class="font-medium">Quick Links</h4>
                        <ul class="mt-2">
                            <li class="text-gray-300 text-sm"><a href="">Home</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Recent News</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Learn Now</a></li>
                            <li class="text-gray-300 text-sm"><a href="">About Us</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="font-medium">Members</h4>
                        <ul class="mt-2">
                            <li class="text-gray-300 text-sm"><a href="">Cuenco, John Louie</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Laugo, Cyril Marius</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Marciano, Latisha***</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Moya, Patrick Christopher</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Pagaduan, Jan Art</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="font-medium">Members</h4>
                        <ul class="mt-2">
                            <li class="text-gray-300 text-sm"><a href="">Paguel, Jess Patrick</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Pangilinan, Myles</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Ricafranca, Edward Allen</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Songodanan, Cyrus</a></li>
                            <li class="text-gray-300 text-sm"><a href="">Toledo, Thaddeus</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>