<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Tailwind</title>
        <script src='https://cdn.tailwindcss.com'></script>
    </head>
    <body class="text-white bg-zinc-900">
        <nav class="">
            <div class="w-full p-4 flex items-center justify-between">
                <div class="flex items-center space-x-4 md:w-auto w-full justify-between">
                    <div class="flex items-center space-x-4">
                        <img src="../assets/logo.svg" class="w-14 h-14">
                        <h4 class="text-2xl">ThreatScope</h4>
                    </div>
                </div>
                <ul class="md:flex items-center space-x-4">
                    <li>
                        <a href="#" class="hidden md:block">Home</a>
                    </li>
                    <li>
                        <a href="#" class="hidden md:block">Recent News</a>
                    </li>
                    <li>
                        <a href="#" class="hidden md:block">Learn Now</a>
                    </li>
                    <li>
                        <button class="cursor-pointer p-2 rounded" id="menu-toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>                  
                        </button>
                    </li>
                </ul>
            </div>
            <div id="sidebar" class="fixed inset-y-0 overflow-y-auto left-0 w-64 bg-zinc-950 text-white transform -translate-x-full transition-transform duration-300 [&::-webkit-scrollbar]:w-1
            [&::-webkit-scrollbar-track]:bg-gray-100
            [&::-webkit-scrollbar-thumb]:bg-gray-300
            dark:[&::-webkit-scrollbar-track]:bg-neutral-700
            dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 pb-10">
                <ul class="space-y-2 text-left">
                    <li class="flex items-center space-x-4 p-4">
                        <img src="../assets/logo.svg" class="w-14 h-14">
                        <h4 class="text-2xl">ThreatScope</h4>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Navigations</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Recent News</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Learn Now</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Concepts</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Vulnerabilities</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Famous Attacks</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Recent Attacks</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Companies Affected</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Protective Measures</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Future Threats</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Gallery</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">About Us</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Contact Us</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="px-2">
                        <ul class="space-y-2">
                            <li class="text-lg font-medium px-2">Vulnerabilities</li>
                            <li>
                                <ul class="">
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 2</a>
                                    </li>
                                    <li class="text-gray-300 text-sm hover:bg-zinc-800 ease duration-200 p-1 px-6 rounded">
                                        <a href="#">Item 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="p-4 mx-auto max-w-7xl grid md:grid-cols-2 grid-cols-1 gap-y-4 mt-8">
            <div class="flex items-center justify-center">
                <div class="block md:space-y-4 space-y-8">
                    <h4 class="text-7xl font-medium">Future Cyber Threats</h4>
                    <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipiscing elit. Consectetur adipiscing elit quisque faucibus ex sapien vitae. Ex sapien vitae pellentesque sem placerat in id. Placerat in id cursus mi pretium tellus duis. Pretium tellus duis convallis tempus leo eu aenean.</p>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <img src="../assets/future-cyber-threats.png" class="w-full">
            </div>
        </div>
        <script src="../assets/js/main.js"></script>
    </body>
</html>